<div class="form-floating my-3">
  <input class="form-control"
    value="{{#if value}}{{value}}{{else}}{{/if}}"
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    id="{{key}}"
    name="{{key}}"
    placeholder="{{placeholder}}">
  <label for="{{key}}">{{placeholder}}</label>
</div>